<header class="main_header_area">
    <div class="top_header_area row m0">
        <div class="container">
            <div class="float-left">
                <a href="/shop"><i class="fa fa-phone" aria-hidden="true"></i> Bán hàng</a>
                <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i> Chăm sóc khách hàng</a>
            </div>
            <div class="float-right">
                <ul class="h_social list_style">
                    <% if(user){%>
                    <li class="dropdown" >
                        <a href="#" id="menu_users" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                          <%=user.name%>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menu_users" >
                          <a class="dropdown-item" href="/orders/list?status=-3" style="color: black;">Đơn hàng của tôi</a>
                          <a class="dropdown-item" href="/users/general" style="color: black;">Quản lý tài khoản </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/logout" style="color: black;">Đăng xuất</a>
                        </div>
                    </li>
                    <%}else{%>
                        <li><a href="/login"> Đăng nhập</a></li>
                        <li><a href="/users/resgister"> Đăng ký</a></li>
                    <%}%>
                </ul>
                <ul class="h_search list_style">
                    <% var _id=(user?user._id:'') %>
                    <li class="shop_cart"><a href="#" id="cart_number" onclick="common.check_access_list_cart('<%= _id %>')" data-content="<%=(master_cart && JSON.stringify(master_cart)!='[]'?master_cart.length:'0')%>"><i class="lnr lnr-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main_menu_two">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/"><img src="<%=info_website_master.logo%>" class="app-logo-spin" alt="" style="width:60px; border-radius:50%;"><span style="color:#F195B2;"><%=info_website_master.name%></span></a>
                <button type="button" id="sidebarCollapse" class=" navbar-toggler d-inline-block d-lg-none ml-auto" >
                    <span class="my_toggle_menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                    <ul class="navbar-nav justify-content-end">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/introduce">Giới thiệu</a></li>
                        <li class="dropdown submenu">
                            <a href="#" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
                            <ul class="dropdown-menu">
                                <li><a href="/products/all?page=1">Tất cả</a></li>
                                <% if(master_categorys.length > 0){
                                    master_categorys.forEach(function(item,key){
                                        if(item.childcategory.length > 0 ){ %>
                                        <li class="dropdown submenu">
                                            <a  href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= item.name %></a>
                                            <ul class="dropdown-menu">
                                                <%item.childcategory.forEach(function(item_child,key_child){%>
                                                    <li><a href="/products/list?id_category=<%=item_child._id%>&page=1">- <%=item_child.name %></a></li>
                                                <%});%>
                                            </ul>
                                        </li>
                                        <%}else{ %>
                                        <li><a href="#"><%= item.name %></a></li>
                                        <%}
                                    });
                                }%>
                            </ul>
                        </li>
                        <li class="dropdown submenu">
                            <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bài viết</a>
                            <ul class="dropdown-menu">
                                <li><a href="/posts">Tất cả</a></li>
                                <% if(master_posts_type.length > 0){
                                    master_posts_type.forEach(function(item,key){%>
                                        <li><a href="/posts/list?type_id=<%=item._id%>&page=1"><%=item.name%></a></li>
                                    <%});%>
                                <%}%>
                            </ul>
                        </li>
                        <li><a class="popup-with-zoom-anim" href="#test-search"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="main_menu_two_footer"></div>
    <!--sidebar moblie-->
    <nav id="sidebar">
        <div id="dismiss"><i class="fa fa-times fa-2x"></i></div>
        <div class="sidebar-header"><a href="/"><img src="<%=info_website_master.logo%>"  class="app-logo-spin" alt="<%=info_website_master.name%>" style="width:45px; border-radius:50%;"><span style="color:#F195B2;"><%=info_website_master.name%></span></a></div>
        <ul class="list-unstyled components">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/introduce">Giới thiệu</a></li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Sản phẩm</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <% if(master_categorys.length > 0){
                        master_categorys.forEach(function(item,key){
                            if(item.childcategory.length > 0 ){%>
                            <li>
                                <a href="#pageSubmenu_<%=item._id%>" data-toggle="collapse" aria-expanded="false"><%= item.name %></a>
                                <ul class="collapse list-unstyled" id="pageSubmenu_<%=item._id%>">
                                <% item.childcategory.forEach(function(item_child,key_child){%>
                                    <li><a href="/products/list?id_category=<%=item_child._id%>&page=1">- <%=item_child.name %></a></li>
                                <%});%>
                                </ul>
                            </li>
                            <%}else{%>
                            <li><a href="#"><%= item.name %></a></li>
                            <%}
                        });
                    }%>
                </ul>
            </li>
            <li>
                <a href="#pagePost" data-toggle="collapse" aria-expanded="false">Bài viết</a>
                <ul class="collapse list-unstyled" id="pagePost">
                    <a href="/posts">Tất cả</a>
                    <% if(master_posts_type.length > 0){
                        master_posts_type.forEach(function(item,key){%>
                            <li><a href="/posts/list?type_id=<%=item._id%>&page=1"><%=item.name%></a></li>
                        <%});%>
                    <%}%>
                </ul>
            </li>
            <li><a class="popup-with-zoom-anim" href="#test-search"><i class="fa fa-search"></i></a></li>
        </ul>
    </nav>
</header>
