<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Giỏ hàng</h3>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/" class="disabled-link">Giỏ hàng</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->

<!--================Product Area =================-->
<section class="product_area" style="padding: 30px 0px;">
    <div class="container">
        <form action="/orders/insert_multip"  method="POST" id="form_cart">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card p-2">
                        <table class="table table-bordered" id="table_cart" style="font-size: 10px;">
                            <thead>
                                <th  style="width:5%" ><button type="button" class="btn btn-danger btn-sm" onclick="cart.delete_multip();"><i class="fa fa-trash-o"></i></button></th>
                                <th  style="width:5%" >Xóa</th>
                                <th  style="width:40%">Tên sản phẩm</th>
                                <th  style="width:20%">Giá</th>
                                <th  style="width:10%">Số lượng</th>
                                <th  style="width:20%">Ship</th>
                            </thead>
                            <tbody>
                                <% if(JSON.stringify(cart_list)!="[]"){
                                    cart_list.forEach(function(item,key){
                                        var product=item.products[0];%>
                                        <input type="hidden" name="id" value="<%=item._id%>" >
                                        <input type="hidden" name="product_id_<%=item._id%>" value="<%=product._id%>" >
                                            <tr id="row_<%=item._id%>" class="row_cart">
                                                <td  class="text-center">
                                                    <input type="checkbox" name="check_cart[]" <%=(item.check==1?'checked':'')%>  value="<%=item._id%>" onchange="cart.update_check_cart(this);cart.update_total_price()"  />
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm" onclick="cart.delete('<%=item._id%>')" ><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            <%if(JSON.stringify(item.price_products)!="[]"){
                                                var product_price=item.price_products[0];%>
                                                <input type="hidden" name="product_price_id_<%=item._id%>" value="<%=(product_price?product_price._id:'')%>" >
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-3 text-center">
                                                            <img src="<%=product_price.image%>" alt="<%=product.name%>" style="width:50px;">
                                                        </div>
                                                        <div class="col-md-9">
                                                            <%=product.name%><br/>
                                                            <b>Loại</b>:<%=product_price.color%>, 
                                                            <b><%=product_price.condition1%></b>: <%=product_price.value_condition1%>, 
                                                            <b><%=product_price.condition2%></b>: <%=product_price.value_condition2%>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <input type="hidden" id="price_<%=item._id%>" value="<%=product_price.price%>">
                                                    <%=common.number_format(product_price.price,'vi')%>
                                                </td>
                                            <%}else{%>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-2 text-center">
                                                            <img src="<%=product.image%>" alt="<%=product.name%>" style="width:50px;">
                                                        </div>
                                                        <div class="col-md-10">
                                                            <%=product.name%><br/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <input type="hidden" id="price_<%=item._id%>" name="price_<%=item._id%>" value="<%=product.price%>">
                                                    <%=common.number_format(product.price,'vi')%>
                                                </td>
                                            <%}%>
                                                <td class="text-right">
                                                    <input type="number" id="quantity_<%=item._id%>" name="quantity_<%=item._id%>"  min="1" max="100000000" value="<%=item.quantity%>" style="width:50px; border: none;" onchange="cart.update_quantity_cart(this,'<%=item._id%>');cart.update_total_price()">
                                                </td>
                                                <td class="text-right">
                                                    <input type="hidden" id="ship_one_order_<%=item._id%>" name="ship_one_order_<%=item._id%>"  value="<%=item.price_ship_min%>" style="width:50px; border: none;">
                                                    <input type="hidden" id="ship_<%=item._id%>" name="ship_<%=item._id%>"  value="0" style="width:50px; border: none;">
                                                    <span id="span_ship_<%=item._id%>">0</span>
                                                </td>
                                            </tr>
                                    <% });
                                } else {%>
                                    <tr>
                                        <td colspan="4" class="text-center">Không có sản phẩm</td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="card p-2">
                        <b style="font-size: 12px;">Địa chỉ:</b>
                        <input type="hidden" name="delivery_price" value="0" >
                        <input type="hidden" name="payment" value="COD" >
                        <input type="hidden" name="user_id" value="<%=user._id%>" >
                        <input type="hidden" name="receiver" value="<%=(info_address['use_shipping']?info_address['use_shipping'].name:'')%>" >
                        <input type="hidden" name="receiver_phone" value="<%=(info_address['use_shipping']?info_address['use_shipping'].phone:'')%>" >
                        <input type="hidden" name="receiver_address" value="<%=(info_address['use_shipping']?info_address['use_shipping'].address:'')%>">
                        <input type="hidden" name="receiver_postcode" value="<%=(info_address['use_shipping']?info_address['use_shipping'].value_province_city+' - '+info_address['use_shipping'].value_district+' - '+info_address['use_shipping'].value_wards:'')%>" />
                        <span style="font-size: 10px;">
                            <%if(info_address['use_shipping']){%>
                                <img src="../../img/Gps-icon.png"> <%= info_address['use_shipping'].value_province_city %> - <%= info_address['use_shipping'].value_district %> -  <%= info_address['use_shipping'].value_wards %>
                                <!-- (<%= info_address['use_shipping'].address %>)-->
                            <%}%>
                        </span>
                        <hr/>
                        <b style="font-size: 12px;">Thông tịn sản phẩm</b>
                        <span style="font-size: 12px;">Tạm tính: <b id="total_price_temp" style="text-align:right">0</b><input type="hidden" id="_total_price_temp"/></span>
                        <span style="font-size: 12px;">Phí giao hàng: <b id="total_delivery_prices" style="text-align:right">0</b><input type="hidden" id="_total_delivery_prices"/></span>
                        <hr/>
                        <span style="font-size: 13px;">Tổng cộng: <b id="total_price" style="text-align:right">0</b><input type="hidden" id="_total_price"/></span>
                        <button type="button" id="cart_submit" onclick="cart.check_order_submit()" class="btn btn-primary"> Xác Nhận Đặt Hàng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="../../js/controller/cart_ctr.js"></script>
<!--================End Product Area =================-->

