
<section class="product_area" style="padding:50px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <a href="/login" class="text-muted" style="font-size: 14px;;"><i class="fa fa-arrow-circle-left"></i> Quay lại đăng nhập</a>
                        <%if(typeof error !=="undefined" &&  error!=""){%>
                        <div class="alert alert-danger" style="font-size:10px" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <%-error%>
                        </div>
                        <%}%>
                        <form action="/users/resgister" method="Post" >
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="name">Họ và tên</label>
                                  <input type="text" class="form-control" name="name" id="name" value="<%=(typeof data !== 'undefined'?data.name:'')%>"  placeholder="Họ và tên">
                                </div>
                                <div class="form-group">
                                  <label for="username">Tài khoản</label>
                                  <input type="text" class="form-control" name="username" id="username" value="<%=(typeof data !== 'undefined'?data.username:'')%>" placeholder="Tài khoản">
                                </div>
                              </div>
                              <div class="col-md-6">
                                
                                <div class="form-group">
                                  <label for="password">Mật khẩu</label>
                                  <input type="password" class="form-control" name="password" id="password" value="<%=(typeof data !== 'undefined'?data.password:'')%>" placeholder="Mật khẩu">
                                </div>
                                <div class="form-group">
                                  <label for="password_reply">Mật khẩu</label>
                                  <input type="password" class="form-control" name="password_reply" id="password_reply" value="<%=(typeof data !== 'undefined'?data.password_reply:'')%>" placeholder="Mật khẩu xác nhận">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                              <button type="submit" class="btn btn-primary btn-block " >Đăng Ký </button>
                            </div>
                            <div class="col-md-3"></div>
                          </div>
                        </form>
                        <hr/>
                        <div class="">
                           Bạn có thể đăng nhập bằng 
                            <a href="/auth/facebook" class="btn btn-primary "> <i class="fa fa-facebook"> Facebook</i></a>
                            <a href="/auth/google" class="btn btn-danger "> <i class="fa fa-google"> Google</i></a>
                            <a href="/auth/zalo"  class="btn btn-success" style="font-size: 14px;font-family:'FontAwesome' ;"><img src="../../img/zalo.png" style="width:20px;">  Zalo</a>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <img src="../../img/blog/column/blog-c-1.jpg" style="width:100%; height:100%">
            </div>
        </div>
    </div>
</section>

