<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3><%=(info_category.name?info_category.name:keywords)%></h3>
            <% if(info_category.name){%>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/" class="disabled-link">Sản phẩm</a></li>
                <li><a href="" class="disabled-link"><%=info_category.name%></a></li>
            </ul>
            <%}%>
        </div>
    </div>
</section>
<section class="product_area p_100">
    <div class="container">
        <form action="/products/list" method="get" id="form_product">
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <input type="hidden" name="id_category" value="<%= id_category %>">
        <input type="hidden" name="page" id="page" value="<%=current%>">
        <div class="row product_inner_row">
            <div class="col-lg-9">
                <aside class="search_widget mb-3" >
                    <div class="input-group">
                        <input type="text" class="form-control border-0" placeholder="Nhập từ khóa" name="keywords" value="<%=keywords%>" >
                        <div class="input-group-append">
                            <button class="btn" type="submit"><i class="icon icon-Search"></i></button>
                        </div>
                    </div>
                </aside>
                <div class="row m0 mb-2 product_task_bar"> 
                    <div class="product_task_inner"> 
                        <div class="float-left">
                            <!-- <a class="active" href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a> -->
                            <span>Hiển <%= skip_product %> - <%if(pages>0){if(total_products > perPage){%><%= skip_product + perPage %><%}else{%><%=total_products%><%}}else{%><%=0%><%} %> của <%= total_products %></span>
                        </div>
                        <div class="float-right">
                            <h4>Sắp xếp :</h4>
                            <select class="short" name="sort" onchange="document.getElementById('form_product').submit()">
                                <option <%=(sort==0?"selected":"")%> data-display="Phù hợp nhất" value="0">Phù hợp nhất</option>
                                <option <%=(sort==-1?"selected":"")%> value="-1">Từ thấp đến cao</option>
                                <option <%=(sort==1?"selected":"")%> value="1">Từ cao xuống thấp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row product_item_inner">
                    <% if(list_products && list_products.length > 0){
                        list_products.forEach(function(item,key){ %>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a href="/products/details?id_products=<%=item._id%>">
                            <div class="cake_feature_item">
                                <div class="cake_img">
                                    <img src="<%=item.image%>" alt="" style="width:100%">
                                </div>
                                <div class="cake_text">
                                    <p style="padding-top:5px;"><%=(item.price==0?item.price_min:item.price)%></p>
                                    <h3 style="padding-top:0px;"> <%=item.name%></h3>
                                    <h3 style="font-size: 12px;padding-top:0px;">Đã bán:<%=item.total_order%> </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <%  });}
                    else{%>
                        <h2 class="text-center w-100">Không tìm thấy sản phẩm</h2>

                    <% }%>
                </div>
                <%- include("../layouts/pagination",{
                    pages:pages,
                    current:current,
                    fuc:"common.submit_page_list",
                    form:'#form_product'
                }) %>
            </div>
            <div class="col-lg-3">
                <div class="product_left_sidebar">
                    <aside class="left_sidebar p_catgories_widget">
                        <div class="p_w_title">
                            <h3>Danh mục liên quan</h3>
                        </div>
                        <ul class="list_style">
                            <% if(similar_category_list.length >0){
                                similar_category_list.forEach(function(item,key){ 
                                    if(item._id != id_category){%>
                                    <li><a href="/products/list?id_category=<%=item._id%>&page=1"><%= item.name %></a></li>
                            <% }
                                });
                            }%>
                        </ul>
                    </aside>
                    <aside class="left_sidebar p_price_widget">
                        <div class="p_w_title">
                            <h3>Lọc giá</h3>
                            <button type="submit" class="btn btn-sm float-right" style="background: #F195B2;color: white; font-weight: bold;"  >Lọc</button>
                        </div>
                        <div class="filter_price">
                            <label for="min">Giá tối thiểu:</label><input type="text" id="min" name="min" value="<%=min%>" onkeyup="change_slider_range()" class="money_vi"/>
                            <label for="max">Giá tối đa:</label><input type="text" id="max" name="max"  value="<%=max%>" onkeyup="change_slider_range()" class="money_vi" />
                            <div id="slider-range"></div>
                        </div>
                    </aside>
                    <!-- <aside class="left_sidebar p_sale_widget">
                        <div class="p_w_title">
                            <h3>Top Sale Products</h3>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="../../img/product/sale-product/s-product-1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Brown Cake</h4></a>
                                <ul class="list_style">
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <h5>$29</h5>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="../../img/product/sale-product/s-product-2.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Brown Cake</h4></a>
                                <ul class="list_style">
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <h5>$29</h5>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="../../img/product/sale-product/s-product-3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Brown Cake</h4></a>
                                <ul class="list_style">
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <h5>$29</h5>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="../../img/product/sale-product/s-product-4.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h4>Brown Cake</h4></a>
                                <ul class="list_style">
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <h5>$29</h5>
                            </div>
                        </div>
                    </aside> -->
                </div>
            </div>
        </div>
        </form>
    </div>
</section>
<!--================End Product Area =================-->
<script src="../../js/controller/product_ctr.js"></script>
